<a href="https://colab.research.google.com/github/Prithviraj2706/DataScience-Assignment/blob/main/Hypothesis%20testing%20buyer%20problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('BuyerRatio.csv')

In [3]:
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [5]:
data.drop(['Observed Values'],axis=1,inplace=True)

In [6]:
data

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [7]:
import scipy.stats as stats
from scipy.stats import chi2_contingency

In [8]:
p_value=stats.chi2_contingency(data)

In [9]:
p_value

Chi2ContingencyResult(statistic=1.595945538661058, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [12]:
p_value[1]>0.05

True

In [13]:
#since p value is greater than 0.05 we accept null hypothesis and we reject alternate hypothesis and we conclude a male to female proportions are equal